/* Typehead style */
.twitter-typeahead {
    font-family: Montserrat; 
    width: 100% !important;	
    display: table !important;
}

.twitter-typeahead .typeahead,
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    border: none;
    outline: none;
    width: 100% !important;	
}

.typeahead:focus {
  border: none;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  z-index: 999999;
  font-family: Montserrat; 
}

.tt-hint {
  color: #999
}

.tt-menu {
    font-family: Montserrat; 
    display: block;
    width: 100%;    
    padding: 8px 0;
    background-color: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    margin-top:21px;
}

.tt-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px;
    z-index: 10;
}
.tt-menu:after {
    content: "";
    border-bottom: 12px solid #fff;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}  

/* Fix for the main page autocomplete */    
.tt-menu-home  .tt-menu{
    margin-top:13px;
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 16px;
  line-height: 125%;
  z-index: 999999;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #2B98E3;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #2B98E3;

}

.tt-suggestion p {
  margin: 0;
}